@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}


<button id="send" type="button" class="btn btn-primary">Send Message</button>
<button id="stop" type="button" class="btn btn-primary">Stop connection</button>

<hr>

<ul id="messageList"></ul>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.js"></script>
    <script src="~/chat.js"></script>
}
